<%- include('../partials/head') %>

    <body>
        <%- include('../partials/header') %>
            <div class="d-flex justify-content-between">
                <h1>
                    <%= title %>
                </h1>
                <div class="d-flex align-items-center">
                    <a href="/capex/editCapex/<%= solicitud.id %>"><span class="btn btn-primary ">Editar Solicitud</span></a>
                </div>
            </div>

            <div class="container-fluid min-height">
                <form class="row g-3 needs-validation nodes" novalidate>
                    <div class="col-md-3">
                        <label for="tituloProyecto" class="form-label">Título proyecto</label>
                        <input type="text" class="form-control" id="tituloProyecto" name="tituloProyecto" value="<%= solicitud.tituloProyecto %>" disabled>
                    </div>
                    <div class="col-md-3">
                        <label for="areaSolicitante" class="form-label">Área Solicitante</label>
                        <input type="text" class="form-control" id="areaSolicitante" name="areaSolicitante" value="<%= solicitud.areaSolicitante %>" disabled>
                    </div>
                    <div class="col-md-2">
                        <label for="requerimiento" class="form-label">Tipo de Requerimiento</label>
                        <input type="text" class="form-control" id="requerimiento" name="requerimiento" value="<%= solicitud.requerimiento %>" disabled>
                    </div>
                    <div class="col-md-2">
                        <label for="cellId" class="form-label">Cell ID</label>
                        <input type="text" class="form-control" id="cellId" name="cellId" value="<%= solicitud.cellId %>" disabled>
                    </div>
                    <div class="col-md-2">
                        <label for="fechaObjetivo" class="form-label">Fecha Objetivo</label>
                        <input type="date" class="form-control" id="fechaObjetivo" name="fechaObjetivo" value="<%= solicitud.fechaObjetivo %>" disabled>
                    </div>
                    <hr>
                    <div class="col-md-2">
                        <label for="redundancia" class="form-label">Tipo de conexión</label>
                        <input type="text" class="form-control" id="redundancia" name="redundancia" value="<%= solicitud.redundancia %>" disabled>
                    </div>
                    <div class="col-md-2">
                        <label for="bandwidth" class="form-label">Ancho de banda requerido</label>
                        <input type="text" class="form-control" id="bandwidth" name="bandwidth" value="<%= solicitud.bandwidth %>" disabled>
                    </div>
                    <span class="ayuda">¿Te ayudo con el tipo de conexión?</span>
                    <div id='img' class="hidden">
                        <img src="/images/Single_Dual_Home.png">
                    </div>
                    <hr>
                    <div class="col-md-2">
                        <label for="puertosElectricos" class="form-label">Puertos eléctricos</label>
                        <input type="number" class="form-control" id="puertosElectricos" name="puertosElectricos" value="<%= solicitud.puertosElectricos %>" disabled>
                    </div>
                    <div class="col-md-2">
                        <label for="puertosOpticos1gb" class="form-label">Puertos ópticos 1Gb</label>
                        <input
                          type="number"
                          class="form-control"
                          id="puertosOpticos1gb"
                          name="puertosOpticos1gb"
                          placeholder="5"
                          value="<%= solicitud.puertosOpticos1gb %>"
                          required
                          disabled
                        />
                        <div class="invalid-feedback">
                          Por favor ingresa el total de puertos ópticos de 1Gb.
                        </div>
                      </div>
                            <div class="col-md-2">
                        <label for="puertosOpticos10gb" class="form-label">Puertos ópticos 10Gb</label>
                        <input
                          type="number"
                          class="form-control"
                          id="puertosOpticos10gb"
                          name="puertosOpticos10gb"
                          placeholder="5"
                          value="<%= solicitud.puertosOpticos10gb %>"
                          required
                          disabled
                        />
                        <div class="invalid-feedback">
                          Por favor ingresa el total de puertos ópticos de 10Gb.
                        </div>
                      </div>
                      <div class="col-md-2">
                        <label for="puertosOpticos100gb" class="form-label">Puertos ópticos 100Gb</label>
                        <input
                          type="number"
                          class="form-control"
                          id="puertosOpticos100gb"
                          name="puertosOpticos100gb"
                          placeholder="5"
                          value="<%= solicitud.puertosOpticos100gb %>"
                          required
                          disabled
                        />
                        <div class="invalid-feedback">
                          Por favor ingresa el total de puertos ópticos de 100Gb.
                        </div>
                      </div>
                    <p><strong>Comentarios:</strong> Indicar la cantidad total de puertos que debe conectar, si es seleccionado como tipo de conexión <em>"Dual Homed"</em> serán asignados la mitad de los puertos informados en cada uno de los PE.</p>
                    <span>Por favor deje cualquier aclaración pertinente:</span>
                    <textarea name="comentarios" disabled><%= solicitud.comentarios %></textarea>
                </form>
            </div>
            <script async src="/javascripts/validationForm.js"></script>
            <script type="text/javascript">
                document.querySelector(".ayuda").onclick = function() {
                    document.querySelector("#img").classList.toggle("show")
                };
            </script>
            <%- include('../partials/footer') %>