<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="d-flex justify-content-between">
                <h1>
                    <%= title %>
                </h1>
            </div>
            <% if(subSlot == 0){%>
                <div class="container-fluid min-height">
                    <form class="row g-3 needs-validation" action="/devices/addSlot?id=<%=id%>" method="POST" novalidate>
                        <div class="col-md-1">
                            <label for="slot" class="form-label">Slot</label>
                            <input type="number" class="form-control" id="slot" name="slot" required>
                            <div class="invalid-feedback">
                                Por favor ingresa el slot de la placa.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="subSlot" class="form-label">¿Cuantos subSlot posee la placa a instalar?</label>
                            <input type="number" class="form-control" id="subSlot" name="subSlot" required>
                            <div class="invalid-feedback">
                                Por favor ingresa cuantos subSlots posee la placa.
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Confirmar</button>
                        </div>
                    </form>
                </div>
                <%} else {%>
                    <div class="container-fluid">
                        <form class="g-3 needs-validation nodes" action="/devices/addSubSlot" method="POST" novalidate>
                            <!--Se agregan estos campos escondidos por que el value con disable no viaja en el req.body-->
                            <input type="text" name="deviceId" hidden value="<%=id%>">
                            <input name="slotAssigned" value="<%=slot%>" hidden>
                            <% for( let index = 0; index < subSlot; index++ ) { %>
                                <div class="row">
                                    <div class="col-md-1">
                                        <label class="form-label">Slot</label>
                                        <input class="form-control" value="<%=slot%>" disabled>
                                    </div>
                                    <div class="col-md-1">
                                        <label class="form-label">Sub Slot</label>
                                        <input class="form-control" value="<%=index%>" disabled>
                                        <input name="subSlotAssigned" value="<%=index%>" hidden>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="port" class="form-label">Cantidad de puertos</label>
                                        <input type="number" class="form-control" id="port" name="port" required>
                                        <div class="invalid-feedback">
                                            Por favor ingresa la cantidad de puertos para el sub slot.
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <label for="boardModule" class="form-label">Tipo de puerto</label>
                                        <select class="form-select" id="boardModule" name="boardModule" required>
                                        <option selected disabled value="">Elija...</option>
                                        <option value="SPF-1G">SPF-1G</option>
                                        <option value="SPF-10G">SPF-10G</option>
                                        <option value="SPF-100G">SPF-100G</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Por favor selecciona tipo de puerto.
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <div class="col-12">
                                        <button class="btn btn-primary" type="submit">Crear Slot</button>
                                    </div>
                        </form>
                    </div>
                    <%}%>
                        <script async src="/javascripts/validationForm.js"></script>
                        <!--<script async src="/javascripts/swalNodes.js"></script>-->
                        <%- include('./partials/footer') %>