<%- include('./partials/head') %>
    <%- include('./partials/header') %>
        <section class="min-height">
            <h1>
                <%= title %>
            </h1>
            <div class="container-fluid">
                <p>Welcome to
                    <%= title %>
                </p>
            </div>
        </section>
        <%- include('./partials/footer') %>