<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="d-flex justify-content-between ps-3">
                <h1>
                    <%= title %>
                </h1>
                <div>
                    <a href="/nodes/add"><span class="btn btn-primary">Agregar Nodo</span></a>
                </div>
            </div>

            <div class="container ">
                <div class="row border">
                    <div class="col-sm border">
                        Name
                    </div>
                    <div class="col-sm border">
                        CellId
                    </div>
                    <div class="col-sm border">
                        Province
                    </div>
                    <div class="col-sm border">
                        Country
                    </div>
                    <div class="col-sm border">
                        Rooms
                    </div>
                </div>
                <% nodes.forEach(element=> { %>
                    <div class="row border">
                        <div class="col-sm border">
                            <a href="/nodes/<%= element.id%>">
                                <%= element.name %>
                            </a>
                        </div>
                        <div class="col-sm border">
                            <%= element.cellId %>
                        </div>
                        <div class="col-sm border">
                            <%= element.province %>
                        </div>
                        <div class="col-sm border">
                            <%= element.country %>
                        </div>
                        <div class="col-sm border">
                            <%= element.totalRooms %>
                        </div>
                    </div>
                    <%});%>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= page == 1?'disabled':''%>">
                        <a class="page-link" href="/nodes/page/<%=page-1%>" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <% for( let i = 1; i<= totalPages; i++ ) { %>
                        <li class="page-item ">
                            <a class="page-link" href="/nodes/page/<%=i%>">
                                <%=i%>
                            </a>
                        </li>
                        <% } %>

                            <li class="page-item <%= page == totalPages?'disabled':''%>">
                                <a class="page-link" href="/nodes/page/<%=page+1%>">Next</a>
                            </li>
                </ul>
            </nav>
            <%- include('./partials/footer') %>