<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="d-flex justify-content-between ps-3">
                <h1>
                    <%= title %>
                </h1>
                <div>
                    <a href="/nodes/add"><span class="btn btn-primary">Agregar Nodo</span></a>
                </div>
            </div>
            <div class="container min-height">
                <table class="table table-hover">
                    <thead>
                        <tr class="fw-bold">
                            <th>Nombre</th>
                            <th>CellId</th>
                            <th>Provincia</th>
                            <th>País</th>
                            <th>Naves</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% nodes.forEach(element=> { %>
                            <tr>
                                <td>
                                    <a href="/nodes/<%= element.id%>">
                                        <%= element.name %>
                                    </a>
                                </td>
                                <td>
                                    <%= element.cellId %>
                                </td>
                                <td>
                                    <%= element.province %>
                                </td>
                                <td>
                                    <%= element.country %>
                                </td>
                                <td>
                                    <%= element.totalRooms %>
                                </td>
                            </tr>
                            <%});%>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= page == 1?'disabled':''%>">
                        <a class="page-link" href="/nodes/page/<%=page-1%>" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <% for( let i = 1; i<= totalPages; i++ ) { %>
                        <li class="page-item ">
                            <a class="page-link" href="/nodes/page/<%=i%>">
                                <%=i%>
                            </a>
                        </li>
                        <% } %>
                            <li class="page-item <%= page == totalPages?'disabled':''%>">
                                <a class="page-link" href="/nodes/page/<%=page+1%>">Next</a>
                            </li>
                </ul>
            </nav>
            <%- include('./partials/footer') %>