<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="d-flex justify-content-between ps-3">
                <h1>
                    <%= title %>
                </h1>
                <div>
                    <a href="/versions/add"><span class="btn btn-primary">Agregar Versión</span></a>
                </div>
            </div>
            <div class="container min-height">
                <table class="table table-hover">
                    <thead>
                        <tr class="fw-bold">
                            <th>Nombre</th>
                            <th>ServicePack</th>
                            <th>Smu/Patch</th>
                            <th>Rol</th>
                            <th>Modelos</th>
                            <th>Link PSRR</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% versions.forEach(element=> { %>
                            <tr>
                                <td>
                                    <a href="/versions/<%= element.id%>">
                                        <%= element.name %>
                                    </a>
                                </td>
                                <td>
                                    <%= element.servicePack %>
                                </td>
                                <td>
                                    <%= element.smuPatch %>
                                </td>
                                <td>
                                    <%= element.versiontorole.name %>
                                </td>
                                <td>
                                    <%= element.versiondevicemodels.model %>
                                </td>
                                <td>
                                    <a href="<%= element.psrrLink %>" target="_blank">
                                        Abrir PSRR
                                    </a>
                                </td>
                            </tr>
                            <%});%>
                    </tbody>
                </table>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= page == 1?'disabled':''%>">
                        <a class="page-link" href="/versions/page/<%=page-1%>" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <% for( let i = 1; i<= totalPages; i++ ) { %>
                        <li class="page-item ">
                            <a class="page-link" href="/versions/page/<%=i%>">
                                <%=i%>
                            </a>
                        </li>
                        <% } %>

                            <li class="page-item <%= page == totalPages?'disabled':''%>">
                                <a class="page-link" href="/versions/page/<%=page+1%>">Next</a>
                            </li>
                </ul>
            </nav>
            <%- include('./partials/footer') %>