<%- include('./partials/head') %>

    <body>
        <%- include('./partials/header') %>
            <div class="d-flex justify-content-between ps-3">
                <h1>
                    <%= title %>
                </h1>
                <div>
                    <a href="/versions/add"><span class="btn btn-primary">Agregar Versión</span></a>
                </div>
            </div>

            <div class="container ">
                <div class="row border">
                    <div class="col-sm border">
                        Name
                    </div>
                    <div class="col-sm border">
                        ServicePack
                    </div>
                    <div class="col-sm border">
                        Smu/Patch
                    </div>
                    <div class="col-sm border">
                        Roles
                    </div>
                    <div class="col-sm border">
                        Modelos
                    </div>
                    <div class="col-sm-3 border">
                        Link PSRR
                    </div>
                </div>
                <% versions.forEach(element=> { %>
                    <div class="row border">
                        <div class="col-sm border">
                            <a href="/versions/<%= element.id%>">
                                <%= element.name %>
                            </a>
                        </div>
                        <div class="col-sm border">
                            <%= element.servicePack %>
                        </div>
                        <div class="col-sm border">
                            <%= element.smuPatch %>
                        </div>
                        <div class="col-sm border">
                            <%= element.versiontorole.name %>
                        </div>
                        <div class="col-sm border">
                            <%= element.versiondevicemodels.model %>
                        </div>
                        <div class="col-sm-3 border">
                            <a href="<%= element.psrrLink %>" target="_blank">
                                Abrir PSRR
                            </a>
                        </div>
                    </div>
                    <%});%>
            </div>
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <li class="page-item <%= page == 1?'disabled':''%>">
                        <a class="page-link" href="/versions/page/<%=page-1%>" tabindex="-1" aria-disabled="true">Previous</a>
                    </li>
                    <% for( let i = 1; i<= totalPages; i++ ) { %>
                        <li class="page-item ">
                            <a class="page-link" href="/versions/page/<%=i%>">
                                <%=i%>
                            </a>
                        </li>
                        <% } %>

                            <li class="page-item <%= page == totalPages?'disabled':''%>">
                                <a class="page-link" href="/versions/page/<%=page+1%>">Next</a>
                            </li>
                </ul>
            </nav>
            <%- include('./partials/footer') %>